@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"),
       url("../fonts/poppins-regular.woff2") format("woff2"),
       url("../fonts/poppins-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
       url("../fonts/poppins-700.woff2") format("woff2"),
       url("../fonts/poppins-700.woff") format("woff");
}

@font-face {
  font-family: "Berkshire Swash";
  font-style: normal;
  font-weight: 400;
  src: local("Berkshire Swash Regular"), local("BerkshireSwash-Regular"),
       url("../fonts/berkshire-regular.woff2") format("woff2"),
       url("../fonts/berkshire-regular.woff") format("woff");
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"],
legend {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

.hidden,
[hidden],
template {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

section {
  position: relative;
  margin-bottom: 40px;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Poppins, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #5e635f;
}

.container {
	display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
}

.column {
  padding: 0 5%;
}

.column__left {
  padding-top: 75px;
  background-color: #fbe2e5;
  text-align: center;
}

.column__right {
  padding-top: 30px;
}

.subtitle {
  margin: 0 0 40px;
  position: relative;
  font-size: 24px;
}

.subtitle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: -10px;
  background-color: #fbe2e5;
}

.main-info {
  position: relative;
  margin-bottom: 70px;
}

.main-info::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  left: 10%;
  bottom: -35px;
  background-color: #5e635f;
}

.main-info__photo {
  width: 200px;
  height: 200px;
  margin: 0 auto 40px;
  font-size: 0;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #5e635f;
}

.main-info__title {
  margin: 0 0 25px;
  font-size: 24px;
  text-transform: uppercase;
}

.contacts__item {
  padding: 7.5px 0;
}

.edu__title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px;
}

.edu__item {
  margin-bottom: 20px;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  justify-content: space-between;
}

.skills__item {
  position: relative;
  padding-bottom: 25px;
}

.skills__item::before,
.skills__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15px;
}

.skills__item::before {
  width: 100%;
  background: #5e635f;
}

.skills__item::after {
  background-color: #fabea7;
}

.skills__item:nth-child(-n+2)::after {
  width: 100%;
}

.skills__item:nth-child(3n)::after {
  width: 25%;
}

.skills__item:nth-child(4)::after {
  width: 75%;
}

.skills__item:nth-child(5)::after,
.skills__item:nth-last-child(-n + 2)::after {
  width: 50%;
}

.portfolio {
  padding-top: 10px;
  text-align: center;
}

.portfolio__text {
  font-family: "Berkshire Swash", cursive;
  font-size: 28px;
}

.portfolio__link {
  position: relative;
  color: #5e635f;
}

.portfolio__link::before,
.portfolio__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
}

.portfolio__link::before {
  background-color: #5e635f;
}

.portfolio__link::after {
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
  will-change: transform;
  background-color: #fabea7;
}


.portfolio__link:hover::after {
  transform: scale(1);
}